---
import { getCollection } from "astro:content"
import { sortPostsByDate } from "../lib/date"
import Link from "../components/Link.vue"
import Base from "../layouts/Base.astro"
import Project from "../components/Project.astro"
import PostRow from "../components/PostRow.astro"
import { getProjects } from "../lib/projects"

const projects = await getProjects(6)
const posts = sortPostsByDate(await getCollection("blog", ({ data }) => data.isDraft !== true))
  .slice(0, 4)

const title = "prettyirrelevant • home"
---

<Base
  {title}
  description="Personal website and blog of Isaac Adewumi"
  image="https://og.nxl.sh/home"
>
  <h1 slot="header-content" class="text-neutral-600 dark:text-neutral-500">
    prettyirrelevant
  </h1>

   <main class="prose">
      <p>
        <small class="text-neutral-600 dark:text-neutral-500"
          >IPA &nbsp; /prɪti ɪrelɪvənt/ — what I think of nicknames</small
        >
        <br />

        Hi there, I'm <strong>Isaac</strong>. I'm 21 y/o and cannot wait to graduate from university.
      </p>

      <div class="mt-12" />
      <h2>Projects</h2>

      <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
        {projects.map(project => <Project {project} />)}
      </div>

      <div class="mt-12" />
      <h2>Blog</h2>

      <div class="flex flex-col gap-5">
        {posts.map(post => <PostRow {post} />)}

        <span>
          <Link href="/blog">
            All posts →
          </Link>
        </span>
      </div>
  </main>
</Base>
